:root {
    --main-color: #FDDFD7;
    --sub-color: #544A4A;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

ul {
    list-style-type: none;
}

body {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}